/*Provides a small padding so all elements are not clumped right at the top of the screen */
body {
  padding: 50px;
}
/*Containers should have a background-color of light pink, and have a small extra padding so that all elements inside
the container are not flush along the bottom or sides (spacing)*/
.container {
  background-color: lightpink;
  padding: 10px;
}
/* Each form-group should have some padding so that the elements are not directly placed in the corner (spacing),
and background color should be light yellow for contrast*/
.form-group {
  background-color: lightyellow;
  padding: 10px;
}
/*The main title should be centered, Georgia font, and background-color should be light blue. */
.title{
  text-align: center;
  font-family: "Georgia", Times, serif;
  background-color: lightblue;
}
/* Each caption should be centered and have Comic Sans font (almost for "game" feel). */
.caption {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
/* Output should be slightly larger, and should be cnetered */
#output {
  font-size: 18px;
  text-align: center;
}
/* Outcome (or all guesses) should be centered, slightly larger, and background color of light green */
#outcome {
  background-color: lightgreen;
  font-size: 18px;
  text-align: center;
}